
<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Google Page Result</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <div id="loader">
      <div class="lds-dual-ring"></div>
    </div>
    <header>
      <h1>Google Page Result</h1>
    </header>

    <main>
      <form>
        <label>
        
          <input name="dream" id="dream" type="text" maxlength="100" class="search" required placeholder="keywords to search" autocomplete="off">
          <input name="website" id="website"  class="website" type="text" maxlength="100"  placeholder="this website occurs in a result"  autocomplete="off">
          <input name="noofpages" id="noofpages" type="number" class="noofpages" maxlength="2" value="2" placeholder="maximum no of pages to be searched">
        </label>
        <button type="submit" id="submit-dream">Search</button>
      </form>

      <section class="dreams">
        <ul id="dreams">
          
        </ul>
        <div id="result"></div>
      </section>
    </main>


  </body>
</html>
