/* this file is loaded by index.html and styles the page */

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 2em 1em;
    line-height: 1.5em;
    background-color:#fafafa;
  
  }
  
  h1 {
    
    color: #373fff;
    max-width: calc(100% - 5rem);
    line-height: 1.1;
    text-align: center;
    font-size:14px;
  }
  
  form {
    /* background-color: #eee; */
    display: grid;
    grid-gap: 1em;
    padding: 1em;
    max-width: 1000px;
    margin:0 auto;
  }
  
  input.search {
    border: 1px solid silver;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
  }

    
  input.website {
    border: 1px solid silver;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 15px;
    width: 50%;
    margin-right:10px;
  }
  input.noofpages {
    border: 1px solid silver;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 15px;
    width: 7%;
    margin-right:20px;
  }
  
  form button {
    /* background-color: #bbbbf2; */
    border: 1px solid #fafafa;
    border-radius: 2px;
    cursor: pointer;
    font-size: inherit;
    line-height: 1.6em;
    padding: 0.7em 1em;
    /* max-width: 30%  */
    display: inline-block;
    width: 200px;
  }
  
  form button:hover {
    background-color: lavender;
  }
  
  footer {
    margin-top: 3em;
    padding-top: 1.5em;
    border-top: 1px solid lightgrey;
  }
  #dreams{
    padding:0;
    margin:0 auto;
    list-style-type: none;
    max-width: 1000px;
  }
  #dreams li{
    border:1px solid #fafafa;
    margin-bottom:0;
    list-style: none;
    color:#373fff;
    padding:10px;
  }
  #dreams li.page{
    background-color: black;
    color:#fff;
  }
  #result{
    font-size:30px;
    color:black;
    max-width: 1000px;
    margin:0 auto;
  }
  #result strong{
    color:red;
    font-size:42px;
  }

  #loader{
    background-color:rgba(0,0,0,0.8);
    top:0;
    right:0;
    bottom:0;
    left:0;
    display: none;
    position: fixed;
    text-align: center;
  }

  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top:10%;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  