/* this file is loaded by index.html and styles the page */

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 2em 1em;
    line-height: 1.5em;
    background-color:#fafafa;
  
  }
  
  h1 {
    font-style: italic;
    color: #373fff;
    max-width: calc(100% - 5rem);
    line-height: 1.1;
    text-align: center;
  }
  
  form {
    /* background-color: #eee; */
    display: grid;
    grid-gap: 1em;
    padding: 1em;
    max-width: 1000px;
    margin:0 auto;
  }
  
  input {
    border: 1px solid silver;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
  }
  
  form button {
    /* background-color: #bbbbf2; */
    border: 1px solid #fafafa;
    border-radius: 2px;
    cursor: pointer;
    font-size: inherit;
    line-height: 1.6em;
    padding: 0.25em 1em;
    max-width: 100% 
  }
  
  form button:hover {
    background-color: lavender;
  }
  
  footer {
    margin-top: 3em;
    padding-top: 1.5em;
    border-top: 1px solid lightgrey;
  }
  #dreams{
    padding:0;
    margin:0 auto;
    list-style-type: none;
    max-width: 1000px;
  }
  #dreams li{
    border:1px solid #fafafa;
    margin-bottom:0;
    list-style: none;
    color:#373fff;
    padding:10px;
  }
  #dreams li.page{
    background-color: black;
    color:#fff;
  }